<%- include('../header') %>

    <div class="main-panel">
        <div class="content-wrapper">
            <div class="row">
                <div class="col-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Subcategory</h4>
                            <p class="card-description">
                                Subcategory form elements
                            </p>
                            <form class="forms-sample" method="post" action="/Addsubcategory">
                                <div class="form-group">
                                    <select name="category" class="form-control">
                                        <option>---Select Category---</option>
                                        <% category.map((cat)=>{ %>
                                            <option value="<%= cat.id %>">
                                                <%= cat.category %>
                                            </option>
                                            <% }) %>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <input type="text" name="subcategory" class="form-control"
                                        placeholder="Enter Subcategory">
                                </div>
                                <button type="submit" class="btn btn-primary mr-2">Submit</button>
                                <button class="btn btn-light">Cancel</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
        <footer class="footer">
            <div class="card">
                <div class="card-body">
                    <div class="d-sm-flex justify-content-center justify-content-sm-between">
                        <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright ©
                            bootstrapdash.com 2020</span>
                        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Free <a
                                href="https://www.bootstrapdash.com/" target="_blank">Bootstrap dashboard templates</a>
                            from Bootstrapdash.com</span>
                    </div>
                </div>
            </div>
        </footer>
        <!-- partial -->
    </div>